[submodule "src/scss/vendors/inuit"]
	path = src/scss/vendors/inuit
	url = https://github.com/csswizardry/inuit.css.git
[submodule "src/scss/vendors/simplegrid"]
	path = src/scss/vendors/simplegrid
	url = https://github.com/ThisIsDallas/Simple-Grid.git
