/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
/**
 * Basic Font Style
 *
 * Base
 * font-size........22px | 1.375em
 * font-family......Georgia,Cambria,"Times New Roman",Times,serif;
 */
html {font-size: 1.125em;}

body {
  font-family: 'Source Sans Pro', sans-serif;
  -moz-font-feature-settings: "liga" on;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
  letter-spacing: -0.02em;
  color: rgba(0,0,0,0.8);
  font-kerning: normal;
  line-height: 1.45;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
img,
ul {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

p {
  letter-spacing: -0.01rem;
  margin-bottom: 1.3em;
  font-style: normal;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  // font-size: 4.236em;
}

h2 {
  @include font($lato, 36, $black);
  letter-spacing: -0.02em;
}

h3 {
  @include font($lato, 32, rgba(0,0,0,0.44));
  letter-spacing: -0.02em;
  margin: 1.414em 0 0.5em;
}

small,
.font_small {font-size: 0.618em;}
