/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
/**
 * Base footer Style etc.
 */
footer {
  border-top: 2px solid $grey;
  padding: 1em 0;


  small {
    letter-spacing: -0.02em;
    position: relative;
    font-size: .75rem;
    font-weight: 400;
    color: #999;
    top: 6px;
  }


  p {
    line-height: inherit;
    margin: 0;
  }


  a {
    color: rgb(102, 102, 102);
    font-size: .75rem;
    font-weight: 400;
  }


} //End Footer
